extends partials/index.pug


block vars
  - var navActive = 0 

block head
  // link(rel = 'stylesheet' href = 'css/template.css')
  // script(src = 'js/template.js')

block header
  section.container
    header.jumbatron
      img(src = 'img/logo-cppassist.svg' alt = 'cppassist logo').mb-2.w-50.d-none.d-md-block
      img(src = 'img/logo-cppassist.svg' alt = 'cppassist logo').mb-2.d-block.d-md-none
      p.lead A collection of C++ functions, classes and libraries that are too small to be standalone. It acts like a storage point for useful and reusable code for everyone using C++.

block content
  section.container
    div.row
      div.col
        include:markdown-it(html plugins=['markdown-it-highlightjs']) README.md
